/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-segoe-ui bg-win-blue text-win-black overflow-hidden select-none;
    /* Default background can be desktop wallpaper or loading screen color */
  }
}

/* #windows-area,
#windows-area * {
  pointer-events: none !important;
} */
/* Example: Styling for scrollbars to match Windows (can be tricky cross-browser) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0; /* A light gray, adjust as needed */
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* A medium gray */
  border-radius: 0px; /* Square-ish */
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; /* Darker gray on hover */
}